.caja {
    height: 10vh;
    background-color: rgb(0, 0, 0);
}

body{
    background-color: black;
}

#pacman {
    height: 80vh;
    background-color: rgb(0, 2, 139);
}

.imagen{
    height: 20%;
    animation-name: pacman;
    animation-duration: 10s;
    position: relative;
}

@keyframes pacman {
    0%{ left: 0; top: 0px; ;}
    20%{ left: 1100px; top: 0px; -webkit-transform: rotate(0deg) }
    22%{ left: 1100px ; top: 300px; -webkit-transform: rotate(90deg)}
    25%{ left: 1100px ; top: 300px; -webkit-transform: rotate(90deg)}
    30%{ left: 1100px; top: 300px; -webkit-transform: rotate(160deg);}
    50%{ left: 0px; top: 300px; -webkit-transform: rotate(160deg)}
    55%{ left: 0px; top: 550px; -webkit-transform: rotate(90deg)}
    70%{ left: 0px ; top: 550px; -webkit-transform: rotate(0deg)}
    100%{ left: 1100px; top: 550px; -webkit-transform: rotate(0deg)}


}
